<div class="inner">
<% if user_signed_in? %>
  <div class="greeting">
    こんにちは、
    <%= link_to "#{current_user.name}", root_path, class: :greeting__link %>
  </div>
<% end %>
  <div class="card__wrapper">
  <li>
    <ul>aaa</ul>
    <ul>aaa</ul>
    <ul>aaa</ul>
    <ul>aaa</ul>
    <ul>aaa</ul>
  </li>
  </div>
</div>