<div signed>     
  <div class="out_main_imag">
    <%= link_to image_tag("title.001.jpeg"), root_path %>
    <%# Image by <a href="https://pixabay.com/users/taris007-5740173/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2482218">Taris Dendi Mahadika</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2482218">Pixabay</a> %>
  </div>
</div>